<FilesMatch "^(service-worker\.js|webpack-manifest\.json)$">
FileETag None
Header unset ETag
Header set cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
</FilesMatch>