@import 'filmSearchBox';

html { overflow-y: scroll; } 
body {
  margin: 0px;
  font-family: arial;
  background-color: lightpink;
}
.loader {
  width: 100px;
  display: none;
}
.pointer {
  cursor: pointer;
}

@media (max-width: 500px) {
  header {
    grid-template-columns: 150px 1fr;
  }
  .title {
    grid-column: 1;
  }
}

@media (max-width: 400px) {
  header {
    grid-template-columns: 150px 1fr;
  }
  .title {
    grid-column: 1;
  }
  .search-box {
    width: calc(100% - 10px);
  }
}

.film__remove {
  transition: transform 0.4s ease-in-out;
}

.film__remove.rotate {
  transform: rotate3d(0,1,0,90deg);
}

.nice-button {
  padding: 25px 45px;
  font-size: 1.8rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.81);
  -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.81);
  box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.81);
  cursor: pointer;
  overflow: hidden;
  margin: 5px;
  min-width: 220px;
}
