:root {
  --white: #000;
  --grey-light: #666;
  --blue-light: #1073BA;
  --image-height: 80px;
  --image-width: calc( var(--image-height) * 0.75);
  --card-padding: 3px;
  --card-width: calc( 200px - var(--card-padding));
  --card-side-padding: calc( var(--card-padding) / 2 );
}

.films {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 10px auto;
  padding-inline-start: 0;
}

.film {
  list-style: none;
  
  &-btn-card {
    position: relative;
    height:var(--image-height);
    width: var(--card-width);
    border: 1px solid lightgrey;
    border-radius: 2px;
    display:flex;
    align-items: center;
    background-color: #fff;
    margin: 0 var(--card-side-padding) var(--card-padding) var(--card-side-padding);

    &:hover {
      background-color: #000;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px 1px;
      cursor: pointer;
      border:1px solid #000;

      .film-add-icon {
        fill: #ddd;
        stroke: #ddd;
      }
    }
  }

  &-add-icon {
    position: absolute;
    right: 2px;
    bottom: 2px;
    fill: #333;
    stroke: #333;
  }

  &-info {
    padding: 0 6px;  
    text-align: left;
    min-width: 0;
    pointer-events: none;
    font-size: 0.7rem;
  }
  
  &-image {
    background-size: cover;
    height:100%;
    width:var(--image-width);
    min-width:var(--image-width);
  }
  
  &-title {
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  &-year {
    font-weight: bold;
    color: #777;
  }
  
  &-add {
    flex-grow: 1;
    text-align: right;
    align-self: flex-end;
    padding: 0 5px 5px 0;
    pointer-events: none;
  }

  &__title {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    color: var(--white);
  }

  &__poster {
    height: 5rem;
    object-fit: cover;
    border-radius: 1.05rem;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.4);
  }

  &__image {
    position: relative;
  }

  &__add {
    background-color: var(--blue-light);
    color: var(--white);
    text-decoration: none;
    padding: 1.4rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all .3s;

    &:hover {
      background-color: #1073BA;
    }
  }
}