* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
  font-size: 16px;
  margin: 0;
}

.title {
  font-size: 32px;
  grid-column: 2;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 48px;
}

header {
  display: grid;
  grid-template-columns: 90px 1fr 90px;
}

#profile:hover button,
#profile:focus button {
  transform: scale(1.05);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  z-index: 5;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.link-btn {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#signin .link-btn {
  line-height: 40px;
}

/* Change color of dropdown links on hover */
.link-btn.selectable:hover {background-color: #ddd;}

.user-pic {
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  margin-top:10px;
  border-radius: 24px;
  border:0;
  margin-right:10px;
  transform: scale(0);
  transition: transform 0.7s cubic-bezier(0.65, 0.05, 0.8, 1.27);
}

.search-box {
  display: block;
  margin: 0 auto 10px;
  padding-left:5px;
  width: 300px;
  line-height: 36px;
  border: none;
  border-radius: 5px;
  border: solid 1px #ccc;
  /* text-align: center; */
  font-size: 20px;
  outline: none;
  transform: scale(0);
  transition: transform 0.7s cubic-bezier(0.65, 0.05, 0.8, 1.27);
  position: relative;
  z-index: 1;
}

.search-box:hover {
  border: none;
  border-radius: 5px;
  border: solid 1px #0cc;
}
.search-box:focus {
  border: none;
  border-radius: 5px;
  border: solid 1px #444;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  z-index: 20;
}
.search-box::placeholder {
  transition: opacity 0.5s; 
}
.search-box:focus::placeholder {
  opacity: 0;
}
.search-box-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000099;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1.5s;
  z-index: 10;
}

.search-box:focus + .search-box-mask {
  opacity: 1;
}


#results {
  min-height: 18px;
  position: absolute;
  left: 50%;
  z-index: 20;
  margin-left: calc(-1 * var(--card-width));
  /* display: none; */
}

.none-found {
  width: calc(2 * var(--card-width) - 120px);
  background: white;
  line-height: 40px;
  border-radius: 20px;
  margin: 0 60px;
}

@media (max-width: 405px){
  #results {
    margin-left: calc(-0.5 * var(--card-width));
  }

  .none-found {
    width: calc(var(--card-width) + 20px);
    margin: 0 -10px;
  }
}

.search-box:focus ~ #results {
  display: block;
}

.shrink {
  transform: scale(0);
}

.signin-button {
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 5px 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;

  background: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  direction: ltr;
  font-weight: 500;
  height: auto;
  line-height: normal;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
}

.signin-button-google {
  background-color: #fff;
}

.signin-button-microsoft {
  background-color: #2F2F2F;
}

.signin-icon-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.signin-icon {
  border: none;
  display: inline-block;
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

.signin-text {
  color: #fff;
  display: table-cell;
  font-size: 14px;
  padding-left: 16px;
  text-transform: none;
  vertical-align: middle;
}

.signin-button-google>.signin-text {
  color: #757575;
}

.signin-text-long {
  display: table-cell;
}

.signin-text-short {
  display: none;
}

.pulsate {
  animation: pulsate 1.5s cubic-bezier(0.65, 0.05, 0.05, 0.99);
  animation-iteration-count: infinite;
}

@keyframes pulsate{
  0% { 
    opacity: 0.75;
    color: #000;
  }
  50% { 
    opacity: 1.0;
    color: #050;
  }
  100% { 
    opacity: 0.75;
    color: #000;
  }
}



:root {
  --white: #000;
  --grey-light: #666;
  --blue-light: #1073BA;
  --image-height: 80px;
  --image-width: calc( var(--image-height) * 0.75);
  --card-padding: 3px;
  --card-width: calc( 200px - var(--card-padding));
  --card-side-padding: calc( var(--card-padding) / 2 );
}

.films {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 10px auto;
  padding-inline-start: 0;
}

.film {
  list-style: none;
}

.film-btn-card {
    position: relative;
    height:var(--image-height);
    width: var(--card-width);
    border: 1px solid lightgrey;
    border-radius: 2px;
    display:flex;
    align-items: center;
    background-color: #fff;
    margin: 0 var(--card-side-padding) var(--card-padding) var(--card-side-padding);
}

.film-btn-card:hover {
      background-color: #000;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px 1px;
      cursor: pointer;
      border:1px solid #000;
}

.film-btn-card:hover .film-add-icon {
        fill: #ddd;
        stroke: #ddd;
      }
.film-add-icon {
    position: absolute;
    right: 2px;
    bottom: 2px;
    fill: #333;
    stroke: #333;
  }
.film-info {
    padding: 0 6px;  
    text-align: left;
    min-width: 0;
    pointer-events: none;
    font-size: 0.7rem;
  }
  
.film-image {
    background-size: cover;
    height:100%;
    width:var(--image-width);
    min-width:var(--image-width);
  }
  
  .film-title {
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  .film-year {
    font-weight: bold;
    color: #777;
  }
  
  .film-add {
    flex-grow: 1;
    text-align: right;
    align-self: flex-end;
    padding: 0 5px 5px 0;
    pointer-events: none;
  }

  .film__title {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    color: var(--white);
  }

  .film__poster {
    height: 5rem;
    object-fit: cover;
    border-radius: 1.05rem;
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.4);
  }

  .film__image {
    position: relative;
  }

  .film__add {
    background-color: var(--blue-light);
    color: var(--white);
    text-decoration: none;
    padding: 1.4rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all .3s;
  }

    .film_add:hover {
      background-color: #1073BA;
    }
  

body {
  margin: 0px;
  font-family: arial;
  background-image: linear-gradient(to bottom right, red, yellow);
  height:100vh;
}
.loader {
  width: 100px;
  display: none;
}
.pointer {
  cursor: pointer;
}

@media (max-width: 500px) {
  header {
    grid-template-columns: 60px 1fr 60px;
  }
}

@media (max-width: 400px) {
  header {
    grid-template-columns: 150px 1fr 60px;
  }
  .title {
    grid-column: 1;
  }
  .dropdown {
    grid-column: 3;
  }
  .search-box {
    width: calc(100% - 10px);
  }
}

.film__remove {
  transition: transform 0.4s ease-in-out;
}

.film__remove.rotate {
  transform: rotate3d(0,1,0,90deg);
}

.nice-button {
  padding: 25px 45px;
  font-size: 1.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.81);
  -moz-box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.81);
  box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.81);
  cursor: pointer;
  overflow: hidden;
  margin: 5px;
  min-width: 220px;
}

html {
  --scrollbarBG: transparent;
  --thumbBG: #333;
}
#myFilms::-webkit-scrollbar {
  width: 8px;
}
#myFilms {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
#myFilms::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
#myFilms::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}