# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType application/x-javascript "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
</IfModule>
# END EXPIRES