table.table
  thead
    tr
      th#filmHeader.pointer
        | Films
        span#filmCaret
      th#whenHeader.pointer
        | When
        span#whenCaret
      th
  tbody
    each film in films
      tr(id='row-id-'+film.id)
        td= film.name + '(' + film.year + ')'
        td= film.channel + ' ' + film.when
        td
          button.btn.btn-danger.btn-xs(type='button', onclick='removeFilm("' + film.id + '")')
            span.glyphicon.glyphicon-trash
            span.hidden-xs  Delete